<!DOCTYPE html>
<html>
<head>
    <title>Namelist</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./../scripts/scripts.js"></script>
</head>
<body>
    <div id='container'>
        <h1>Namelist</h1>
        <form action="/" method="post">
            <input type="text" name="name">
            <input id="submit" type="submit" name="submit" value="Add Name">
        </form>
        <div id='namelist'>
<!--             <%for(let i=0; i<names.length; i++){%>
               <p><%=names[i]%></p>
            <%}%> -->
        </div>
    </div>
</body>
</html>


<!-- make it stay on the same page with jquery, Ajax, api
delete name from the list functionality (trash can)
click name to change to an input box to edit the name...
highlight name and change order of name (drag and drop...) - save for react -->